@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,600;0,700;1,600&family=Roboto:wght@700&display=swap");
$main-color: #fa4a0c;
$primary-color: #252b42;
$header: #000;
$normal-text: #737373;

$mobile-width: 320px;
$tablet-width: 1024px;
$desktop-width: 1980px;
